{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="nofollow"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href='{% static "css/cart.css"%}' media="all" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='{% static "css/loader.css"%}' media="all" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      {%include 'nav.html'%}
      <div id="myBtn" onClick="screenTop()">
        <img
          src="img/top.jpg"
          alt="top"
          style="width: 100%; overflow: hidden;"
        />
      </div>
    </header>
    <main>
        <div id = 'dummy-nav'></div>
        <h2>MyOrders</h2>
        <div class="orderList" style="width: 98%; box-shadow : 5px 5px 10px -1px black;">
            
          <div class="row OrderHeading">
                <div class="col-1">S.No</div>
                <div class="col-5">OrderId</div>
                <div class="col-3">Order Date</div>
                <div class="col-3 ksd">Order Value</div>
            </div><hr>
            {% for order in orders%}
            <div class="row OrderElement" onclick="location.href = '/order/{{order.id}}';">
                <div class="col-1">{{forloop.counter}}</div>
                <div class="col-5"><div>{{order.TransactionId}}</div>(Delivered).</div>
                <div class="col-3">{{order.ordDate}}</div>
                <div class="col-3 ksd">{{order.netPrice}}</div>
            </div><hr>
            {%endfor%}
        </div>
        <div class="orderList-mobile" style="width: 100%;">
            <div class="row OrderHeading-mobile" style="font-weight: bolder;">
                <div class="col-5">OrderId</div>
                <div class="col-4">Date</div>
                <div class="col-3">Amount</div>
            </div><hr>
            {% for order in orders%}
            <div class="row OrderElement-mobile" onclick="location.href = '/order/{{order.id}}';">
                <div class="col-5"><h6>{{order.TransactionId}}</h6></div>
                <div class="col-4">{{order.ordDate}}</div>
                <div class="col-3 ksd">Rs.{{order.netPrice}}/-</div>
            </div><hr>
            {%endfor%}
        </div>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src='{% static "js/scripting.js"%}'></script>
    <script src='{% static "js/scriptcart.js"%}'></script>
  </body>
</html>
