{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="nofollow"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="{% static 'css/cart.css'%}" media="all" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      {% include 'nav.html'%}
      <div id="myBtn" onClick="screenTop()">
        <img
          src="{%static 'img/top.jpg'%}"
          alt="top"
          style="width: 100%; overflow: hidden;"
        />
      </div>
    </header>
    <main>
        <div id = 'dummy-nav'></div>
        <h2>{{desc}}</h2><hr>
        <div class="container-fluid" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
        {%for current_review in prods%}
          <a class="row" href = "{{current_review.get_view_url}}" style="color: black; text-decoration : none;">
              <div class="col-6 col-sm-6 col-md-5 col-lg-3"><img src="{%static current_review.Image%}" style="width: 98%; height :98%; padding: 1%;" alt=""></div>
              <div class="col-6 col-sm-6 col-md-7 col-lg-9">
                  <h2>{{current_review.Name}}</h2>
                  <h5 class="old-price">&#8377;</h5><h5 class = 'old-price' >{{current_review.MRP}}</h5>
                  <h4 class = 'discounted-price' style="display: block;">{{current_review.Price}}/-</h4>
                  <div style="color: rgb(255, 102, 0);">{%include 'c_ratings.html'%}</div>                      
              </div>
            </a>
          <hr>
        {%endfor%}
        </div>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/scripting.js'%}"></script>
    <script src="{% static 'js/scriptcart.js'%}"></script>
  </body>
</html>
